RFC 6120 Best Practice for Closing Idle Streams 

> What version of ejabberd are you using?
17.07

> What operating system (version) are you using?
Ubuntu 16.04

> How did you install ejabberd (source, package, distribution)?
Source

> What did not work as expected? Are there error messages in the log? What
ejabberd stream closing implementation follows XEP-0190 which has been obsoleted.

```
https://xmpp.org/extensions/xep-0190.html
WARNING: This document has been obsoleted by the XMPP Standards Foundation. Implementation of the protocol described herein is not recommended. Developers desiring similar functionality are advised to implement the protocol that supersedes this on (RFC 6120).
```

```
08-03 07:46:27.121 D/SMACK: SENT (0): <presence id='AdkH6-130' type='unavailable'><x xmlns='vcard-temp:x:update'></x></presence><a xmlns='urn:xmpp:sm:3' h='37'/>
08-03 07:46:27.121 D/SMACK: SENT (0): </stream:stream>
08-03 07:46:27.211 D/SMACK: RECV (0): </stream:stream>
08-03 07:46:37.131 I/αTalk: [0] org.jivesoftware.smack.tcp.XMPPTCPConnection.shutdown() Exception while waiting for closing stream element from the server XMPPTCPConnection[leopard@atalk.org/atalk] (0)  org.jivesoftware.smack.SmackException$NoResponseException: No response received within reply timeout. Timeout was 10000ms (~10s). While waiting for stream closing element received
```

> was the unexpected behavior? What was the expected result?
Streaming closing should be implemented as per FRF 6120:

```
9.2.4.  Close
   Desiring to send no further messages, Server1 closes its stream to
   Server2 but waits for incoming data from Server2.  (In practice, the
   stream would most likely remain open for some time, since Server1 and
   Server2 do not immediately know if the stream will be needed for
   further communication.)

   S1: </stream:stream>
   Consistent with the recommended stream closing handshake, Server2
   closes the stream as well:

   S2: </stream>

   Server1 now sends a TLS close_notify alert, receives a responding
   close_notify alert from Server2, and then terminates the underlying
   TCP connection.
```


No, it shouldn't, the stuff described in Section 9.2.4 of the RFC is totally pointless. If you want to avoid message loss, use stream management (XEP-0198).

This is nothing to do with XEP-0198.  When the client is about to log off from the server, it sends </stream:stream> requesting server to close the stream and stop further exchanges of stanzas.  If there is no more stanza to be sent from the server, the server must then response with **</stream>** as per RFC 6120, so the client can proceed to close the tcp connection.

Right now the ejabberd server responses with **</stream:stream>** to close the stream. This protocol has been obsoleted by XEP-0190 `(https://xmpp.org/extensions/xep-0190.html)`

WARNING: This document has been obsoleted by the XMPP Standards Foundation. Implementation of the protocol described herein is not recommended. Developers desiring similar functionality are advised to implement the protocol that supersedes this on (RFC 6120).

Could you please elaborate what problem are you trying to solve? If a client cannot process TCP termination correctly - that's solely a client's problem, because there is no warranty a client will receive TCP FIN after `<stream:stream/>` in 10 seconds as SMACK suggests (according to the logs you provided). This is just due to the nature of TCP. What's the point of this RFC requirement? Adding more stupid code to server?

Certainly I am not sure how to answer your question. This is the  standard defines in RFC 6120. Smack library is just followed and implemented the standard to ensure inter operation between client and server. I propose you direct your question to RFC community for further clarification. 

Even if the XSF folks agreed, they change nothing until new RFC comes. So this is just a waste of time and resources.

What is really a problem of the Smack library? The library says:
> Exception while waiting for closing stream element from the server

But the closing stream element is received from the server (3rd line from your log).

I believe smack is expecting the server reply to be per RFC requirements i.e. `</stream>`, but instead ejabberd  responded with `</stream:stream>` which has been obsoleted as indicated in XEP-0190. Smack continues to wait for the expecting `</stream>` until  its preset reply wait timeout of 10 second expired before throwing an exception.

I just did a one line patch to ejabberd_socket.erl, it works as expected.
```
08-03 22:01:50.868 D/SMACK: SENT (0): <presence id='DTZ2a-130' type='unavailable'><x xmlns='vcard-temp:x:update'></x></presence><a xmlns='urn:xmpp:sm:3' h='37'/>
08-03 22:01:50.868 D/SMACK: SENT (0): </stream:stream>
08-03 22:01:50.968 D/SMACK: RECV (0): </stream>
08-03 22:01:50.978 D/SMACK: XMPPConnection closed (XMPPTCPConnection[leopard@atalk.org/atalk] (0))
```
==== ejaberd_socket.erl patch =======
ejabberd_socket.erl:line #211 
```
 send_trailer(SocketData) ->
-    send(SocketData, <<"</stream:stream>">>).
+    send(SocketData, <<"</stream>">>).
```

LOL. The correct answer is `<stream:stream/>` because `<stream/>` would be in 'jabber:client' namespace.

Does this mean ejabberd decides to stay with the current implementation as per the obsoleted XEP-0190 specifications; instead of the new recommended as given in RFC 6120

ejabberd sends correct stream trailer, I don't see incompatibilities.

Can you explain what you refer to as correct stream?

Gosh, this is not even RFC, this is XML.
ejabberd starts its stream with `<stream:stream ...>` header. According to XML rules, what end element would look like? Or do you suggest sending:
```xml
<stream:stream blah='blah'>
...
</stream>
```

Sorry if my explanation is not clear and caused this confusion. All the time I am referring to the 
XEP-0190: Best Practice for **Closing Idle Streams** (https://xmpp.org/extensions/xep-0190.html)

The title of the discussion also reflects **"Closing Idle Stream"**; not sure why you suddenly bring in the stream negotiation protocol. May I propose you review the XEP-0190 documentation, hopefully this helps to re-align our discussion.

If ejabberd agrees, it needs only to change only one source line in ejabberd_socket.erl, (line 212) to fully compliant to RFC-6120 requirements.

==== ejaberd_socket.erl patch =======
```
 send_trailer(SocketData) ->
-    send(SocketData, <<"</stream:stream>">>).
+    send(SocketData, <<"</stream>">>).
```

ejabberd is compliant to RFC6120 in respect to sending closing stream element, please read [Section 4.4.](https://tools.ietf.org/html/rfc6120#section-4.4) and [Section 4.8.2](https://tools.ietf.org/html/rfc6120#section-4.8.2)

What you suggest is doing something like:
```xml
<stream:stream
       from='juliet@im.example.com'
       to='im.example.com'
       version='1.0'
       xml:lang='en'
       xmlns='jabber:client'
       xmlns:stream='http://etherx.jabber.org/streams'>
     <message>
       <body>foo</body>
     </message>
   </stream>
```
which is not RFC compliant, it's not even XML compliant. You misread the RFC.

No, Your last comments is about a stanza that is being used in starting a stream negotiation, it is completely different from what we have been discussed. ejabberd has implemented this correctly. So there is no changes required.

As for our discussion is on closing a physical stream, it is a **process** and has little to do with the end tag as per your last comment.

I can now understand why one may misled by the way section 4.4 is being written. The first sentence states a stream is **closed** by sending `</stream>` tag. then follow by a confusing line **E: ** `</stream:stream>`

```
   A stream is closed by sending a closing `</stream>` tag.
   E: </stream:stream> 
```

If you refer to XEP-0190, may be it helps to understand better. Even as per RFC 6120 section 4.4, if you read it carefully, the correct implementation for closing an established connection is,
1. An xmpp entity **E:** e.g. xmpp client who wishes to close a currently established tcp connection. it must first send `</stream:stream>` tag indicating to its partner, e.g. **S:** ejabberd server that it wish to close the connection. 
2. **E:** must then wait, refraining or doing only things as outlined in point 1-4.
3. After receiving from **S:**, a `</stream>` tag i.e. indicates that the stream is now closed.
4. Only then **E:** can proceed to close the underlying TCP connection(s).



Enough for me, you simply don't understand what I'm trying to say.