SIP -> MD5 to SHA2

SIP changes: https://tools.ietf.org/id/draft-yusef-sipcore-digest-scheme-06.html

> 2. The SIP Digest Authentication Scheme
> 
> This section describes the modifications to the operation of the Digest mechanism as specified in [RFC3261] in order to support the SHA- 256 and SHA-512/256 algorithms as described in [RFC7616], and also to require support for the "qop" option."
> 
> 3. Augmented BNF for the SIP Protocol
> 
> This document updates the Augmented BNF for the SIP Protocol as follows.
> 
> It extends the request-digest as follows to allow for different digest sizes:
> 
>     request-digest = LDQUOT *LHEX RDQUOT
> 
> The number of hex digits must be specified by the specification of the algorithm used.
> 
> It extends the algorithm parameter as follows to allow for SHA2 algorithms to be used:
> 
>     algorithm = "algorithm" EQUAL ( "MD5" / "SHA-512-256" / "SHA-256" / token )
> 
> 4. Security Considerations
> 
> This specification adds new secure algorithms to be used to with the Digest mechanism to authenticate users, but leaves the broken MD5 algorithm for backward compatibility.
> 
> This opens the system to the potential of a downgrade attack by man-in-the-middle. The most effective way of dealing with this type of attack is to remove the support for backward compatibility.
> 
> See section 5 of [RFC7616] for a detailed security discussion of the Digest scheme.

- Linphone already good: http://www.linphone.org/technical-corner/liblinphone/features


Expired draft

@zinid: a release soon:
- https://tools.ietf.org/html/draft-ietf-sipcore-digest-scheme :)

Can you reopen it?

It has been released.

RFC8760: The Session Initiation Protocol (SIP) Digest Access Authentication Scheme
- https://tools.ietf.org/html/rfc8760