Priority sometimes is undefined

> What version of ejabberd are you using?

17.08 (and various older versions

> What did not work as expected? Are there error messages in the log? What
> was the unexpected behavior? What was the expected result?

XMPP sessions should always have a priority.  RFC6121, section 4.7.2.3.  Priority Element, states:

```
If no priority is provided, the processing server or client MUST
consider the priority to be zero ("0").
```

Ejabberd sometimes seems to have sessions with "no" priority, resulting at least in inconsistent API output. for `ejabberdctl connected_users_info`, the priority is shown as `nil`:

```
root@titan: ~ $ ejabberdctl connected_users_info | grep nil
user@jabber.at/1597172283700000310147277	c2s_tls	::FFFF:...	30703	0	ejabberd@titan	7285
user2@jabber.at/1668053111282979589752707	c2s_tls	::FFFF:....	22392	0	ejabberd@titan	3422
...
```

For these sessions, `user_sessions_info` shows a priority of `undefined`:

```
root@titan: ~ $ ejabberdctl user_sessions_info user1 jabber.at
c2s_tls	::FFFF:...	29597	undefined	ejabberd@titan	390694	unavailable	relay
```

This is a rather rare issue, of currently 2360 sessions at jabber.at, only 8 show `nil` as priority. 

I cannot find anything in common for these sessions. In particular, resources do not indicate that this affects one particular client.

I think `undefined` priority is the default internal representation until a client sends initial presence broadcast. Not sure why this is done that way though and I'm too lazy to check this out :smiley: I is it a big problem for you? The only problem seems wrong `ejabberdctl` output?

i think we can close this, ejabberdctl output shows `undefined` presence until client send initial presence.