XEP-0191 (Blocking Command) push updates come from full JID instead of account / bare JID

> What version of ejabberd are you using?

18.01, 17.12 (docker images)

> What operating system (version) are you using?

Linux

> How did you install ejabberd (source, package, distribution)?

Docker image from https://hub.docker.com/r/ejabberd/ecs/

> What did not work as expected? Are there error messages in the log? What
> was the unexpected behavior? What was the expected result?

My client sends a unblock request (XEP-0191) (XML pretty-printed for readability):

```xml
<iq id="xS4VX27KxX/MUGojtin3/" type="set">
  <unblock xmlns="urn:xmpp:blocking">
    <item jid="bar@bar.example/baz"/>
  </unblock>
</iq>
```

Ejabberd replies with a result (as expected) and a push update:

```xml
<iq xml:lang='en' to='149750068965847588172536@localhost/33639755976766345982568' from='149750068965847588172536@localhost/33639755976766345982568' type='result' id='push1254919837068989401'/>
<iq to="149750068965847588172536@localhost/33639755976766345982568" from="149750068965847588172536@localhost/33639755976766345982568" type="set" id="push2992352735229791281">
  <unblock xmlns="urn:xmpp:blocking">
    <item jid="bar@bar.example/baz"/>
  </unblock>
</iq>
```

According to [XEP-0191](https://xmpp.org/extensions/xep-0191.html#block), push updates have empty from. According to [RFC 6120 §8.1.2.1](https://tools.ietf.org/html/rfc6120#section-8.1.2.1), empty from is equivalent to the account bare JID:

>   3.  When the server generates a stanza from the server for delivery
>       to the client on behalf of the account of the connected client
>       (e.g., in the context of data storage services provided by the
>       server on behalf of the client), the stanza MUST either (a) not
>       include a 'from' attribute or (b) include a 'from' attribute
>       whose value is the account's bare JID (<localpart@domainpart>).

But it is not equivalent to the full JID. Please emit the updates from the account bare JID or with empty from.

*Edit:* Possibly relevant, I’m using ANONYMOUS authentication. I haven’t tried with other authentication schemes.