Roster Subscription Management

> What version of ejabberd are you using?

17.01.100

> What operating system (version) are you using?

CentOS

> How did you install ejabberd (source, package, distribution)?

source


> What did not work as expected? Are there error messages in the log? What
> was the unexpected behavior? What was the expected result?

Consider I've 2 users Alice and Bob on my Jabber Server. To add into the rosters with subscription as `both`, I need to do the following steps:-

    1) Alice sends a subscription request to Bob.

    2) When Bob receives the request, he approves it.

    3) Bob may also be interested in Alice's presence, so he subscribes to her.
    
    4) And Alice needs to approve Bob's request.


**BUT**

Now consider, Bob was not on the server, ie he is unregistered and Alice tries to add him into her roster.

Following are the steps which will take place.

    1) Alice sends a subscription request to Bob.

    2) Bob, being unregistered, didnt receive the request.

    3) Alice->Bob subscription set as `None`.

    4) Process Ends Here.

Now, Bob got himself registered. How would Alice get to know that Bob got himself registered and she needs to send the `subscription` request again **OR** How would Bob pushes a notification to every user who added him into his/her roster? Which **XEP/Ejabberd Module** handles this?

We debugged Whatsapp and as per our guess, in this case, Bob pushes a notification to all those users who added him in their rosters.

Notice that XMPP defines a decentralised network of independent servers. Your scenario is a subset of the big one: Alice in example.com sends subscription to Bob in jabber.org. If such account doesn't exist, nothing is stored in jabber.org. So later, if Bob is registered, nothing can be done on the matter regarding potential "lost" subscription requests, or messages.

And regarding ejabberd, that situation is not handled at all. 

Surely Section 3.1.3 of RFC 6121, step four applies in this case:

> Otherwise, if the contact has no available resources when the subscription request is received by the contact's server, then the contact's server MUST keep a record of the complete presence stanza comprising the subscription request, including any extended content contained therein (see Section 8.4 of [XMPP‑CORE]), and then deliver the request when the contact next has an available resource. The contact's server MUST continue to deliver the subscription request whenever the contact creates an available resource, until the contact either approves or denies the request. (The contact's server MUST NOT deliver more than one subscription request from any given user when the contact next has an available resource; e.g., if the user sends multiple subscription requests to the contact while the contact is offline, the contact's server SHOULD store only one of those requests, such as the first request or last request, and MUST deliver only one of the requests when the contact next has an available resource; this helps to prevent "subscription request spam".)

I think this can be accomplished by a hack in `ejabberd_auth:user_exists/2` - this function must always return `true`. Not sure that's a great idea however.

Wondering what's the suggested way to proceed in this situation? As explained in the problem statement, I would like Alice be able to send a message to Bob once he is registered.

Currently, Alice's subscription to Bob is stuck in pending "out" as Bob was not registered at the time Alice sent the subscription request.