Internal server error on the SIP module

## Environment

- ejabberd version: ejabberd/stable,now 22.05-2 amd64 
- OS: Linux (Debian)
- Installed from: official deb package

## Errors from error.log/crash.log

```
2022-11-12 17:12:43.770908+01:00 [error] <0.16438.9> (<0.16438.9>:esip:594) failed to process callback:
** Function: undefined:data_out/2
** Args: [[["SIP/",50,46,48,32,"500",32,<<"Server Internal Error">>],
           "\r\n",
           [[[[<<"Via: ">>,
               [<<"SIP">>,47,50,46,48,47,<<"UDP">>,32,
                [<<"45.134.144.242">>,58,"0"],
                [[59,<<"branch">>,61,<<"z9hG4bK-3320164163">>],
                 [59,<<"rport">>,61,<<"45205">>]]]],
              []],
             13,10],
            [[<<"From: ">>,
              [[<<"\"Cisco\"">>,32],
               60,<<"sip:100@1.1.1.1">>,62,
               [[59,<<"tag">>,61,
                 <<"3565313036666263313363340132363630323033363832">>]]]],
             13,10],
            [[<<"CSeq: ">>,"1",32,<<"INVITE">>],13,10],
            [[<<"Call-ID: ">>,<<"307469299147408563607912">>],13,10],
            [[<<"Max-Forwards: ">>,"70"],13,10],
            [[<<"To: ">>,
              [[<<"\"Cisco\"">>,32],
               60,<<"sip:100@1.1.1.1">>,62,
               [[59,<<"tag">>,61,<<"2226072576-835174781">>]]]],
             13,10],
            [[<<"Server: ">>,<<"esip/1.0.47">>],13,10],
            [[<<"Content-Length: ">>,"0"],13,10]],
           "\r\n",<<>>],
          {sip_socket,udp,#Port<0.373234>,
                      {{0,0,0,0},5060},
                      {{45,134,144,242},45205},
                      <0.269.0>}]
** Reason: {'EXIT',
               {undef,
                   [{undefined,data_out,
                        [[["SIP/",50,46,48,32,"500",32,
                           <<"Server Internal Error">>],
                          "\r\n",
                          [[[[<<"Via: ">>,
                              [<<"SIP">>,47,50,46,48,47,<<"UDP">>,32,
                               [<<"45.134.144.242">>,58,"0"],
                               [[59,<<"branch">>,61,<<"z9hG4bK-3320164163">>],
                                [59,<<"rport">>,61,<<"45205">>]]]],
                             []],
                            13,10],
                           [[<<"From: ">>,
                             [[<<"\"Cisco\"">>,32],
                              60,<<"sip:100@1.1.1.1">>,62,
                              [[59,<<"tag">>,61,
                                <<"3565313036666263313363340132363630323033363832">>]]]],
                            13,10],
                           [[<<"CSeq: ">>,"1",32,<<"INVITE">>],13,10],
                           [[<<"Call-ID: ">>,<<"307469299147408563607912">>],
                            13,10],
                           [[<<"Max-Forwards: ">>,"70"],13,10],
                           [[<<"To: ">>,
                             [[<<"\"Cisco\"">>,32],
                              60,<<"sip:100@1.1.1.1">>,62,
                              [[59,<<"tag">>,61,<<"2226072576-835174781">>]]]],
                            13,10],
                           [[<<"Server: ">>,<<"esip/1.0.47">>],13,10],
                           [[<<"Content-Length: ">>,"0"],13,10]],
                          "\r\n",<<>>],
                         {sip_socket,udp,#Port<0.373234>,
                             {{0,0,0,0},5060},
                             {{45,134,144,242},45205},
                             <0.269.0>}],
                        []},
                    {esip,callback,3,[{file,"esip.erl"},{line,589}]},
                    {esip_transport,do_send,2,
                        [{file,"esip_transport.erl"},{line,335}]},
                    {esip_server_transaction,send,2,
                        [{file,"esip_server_transaction.erl"},{line,346}]},
                    {esip_server_transaction,completed,2,
                        [{file,"esip_server_transaction.erl"},{line,265}]},
                    {p1_fsm,handle_msg,10,[{file,"p1_fsm.erl"},{line,582}]},
                    {proc_lib,init_p_do_apply,3,
                        [{file,"proc_lib.erl"},{line,226}]}]}}
```

## Bug description

Please, give us a precise description (what does not work, what is expected, etc.)


Do you have mod_sip in your modules section? This seems to be issue with not initialized esip (which should be done when mod_sip is started).

Could you also start debug shell and see what `esip:get_config().` returns?

> how a XMPP user can address an external SIP account ? If I want to send a SIP message to a SIP address for example ?

From what I see, there's no message bridge between SIP and XMPP parts inside ejabberd. You can login to a registered account using a XMPP client or a SIP client, and they are independent sessions.

> Also is there a list of supported SIP RFC somewhere ?

I only found some mentions to RFCs in the commit mnessages:
- SIP Outbound (RFC 5626) support
- Do not proxy stray responses statelessly (as per RFC 6026)
- Process 'Contact' headers more accurately (as per RFC3261)

Thanks a lot for the details, much appreciated !